In [11]:
import numpy as np
import pandas as pd
from subprocess import call

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
from etl_helpers import *

## Read in player results from previous weeks and salary for this week

In [9]:
df = read_historical_data()

1

In [8]:
df.head()

,﻿Week,Year,GID,Name,Pos,Team,h/a,Oppt,DK points,DK salary
0,1,2017,1254,"Smith, Alex",QB,kan,a,nwe,34.02,5400.0
1,1,2017,1344,"Bradford, Sam",QB,min,h,nor,28.54,5900.0
2,1,2017,1340,"Stafford, Matthew",QB,det,h,ari,28.08,6100.0
3,1,2017,1514,"Wentz, Carson",QB,phi,a,was,23.88,5300.0
4,1,2017,1488,"Siemian, Trevor",QB,den,h,lac,23.66,5000.0

In [14]:
call(["ls", "-l"])
#print(cvs)

0

In [126]:
df_week2 = pd.read_csv('DraftKingsWeek2.csv')
df_week3 = pd.read_csv('DraftKingsWeek3.csv')
df_week3_salaries = pd.read_csv('DKSalariesWeek3.csv')
df_week4_salaries = pd.read_csv('DKSalariesWeek4.csv')
df_teamdict = pd.read_csv('TeamDict.csv')

In [131]:
df_week3.Pos = df_week3.Pos.apply(lambda x: x.replace('Def', 'DST'))

In [132]:
df_week4_salaries = df_week3_salaries.set_index('teamAbbrev').join(df_teamdict.set_index('Abbreviation1')).reset_index()

In [133]:
df_week3 = df_week3.set_index('Team').join(df_teamdict.set_index('Abbreviation2')).reset_index()

## Merge into one df using players' names

In [134]:
# Split name into first and last name
dfpart = pd.DataFrame(df_week3['Name'].apply(lambda x: x
                       .replace('.', '')
                       .replace('Jr', '')
                       .replace('Sr', '')
                       .replace('-', '')
                       .replace('\'', '')
                       .replace('II', '').upper().split(', ', maxsplit=1)[::-1]).values.tolist(), columns=['Firstname', 'Lastname'])

In [135]:
df_week3 = pd.concat([df_week3, dfpart], axis=1)

In [136]:
# Split name into first and last name
dfpart = pd.DataFrame(df_week4_salaries['Name'].apply(lambda x: x.replace('.', '')
                       .replace('Jr', '')
                       .replace('Sr', '')
                       .replace('-', '')
                       .replace('\'', '')
                       .replace('II', '').upper().split(' ', maxsplit=1)).values.tolist(), columns=['Firstname', 'Lastname'])

In [137]:
df_week4_salaries = pd.concat([df_week4_salaries, dfpart], axis=1)

In [138]:
len(df_week4_salaries), len(df_week3)

(551, 428)

In [144]:
df = df_week4_salaries.loc[~(df_week4_salaries.Position == 'DST')].set_index(['TeamID']).join(df_week3.loc[~(df_week3.Pos == 'DST')].set_index(['TeamID']), lsuffix='_s').reset_index()

In [145]:
df = df.loc[(df.Lastname == df.Lastname_s) & (df.Firstname == df.Firstname_s)]

In [146]:
df.shape

(387, 29)

merge the teams separately

In [147]:
df_teams = df_week4_salaries.loc[df_week4_salaries.Position == 'DST'].set_index(['TeamID']).join(df_week3.loc[df_week3.Pos == 'DST'].set_index(['TeamID']), lsuffix='_s').reset_index()

In [148]:
df_teams.shape

(32, 29)

concatenate

In [149]:
df = pd.concat([df, df_teams], axis=0)

In [150]:
df = df.fillna(value=0)

In [151]:
df.shape

(419, 29)

In [153]:
df.dtypes

TeamID                int64
index_s              object
Position             object
Name_s               object
Salary                int64
GameInfo             object
AvgPointsPerGame    float64
Place_s              object
Team_s               object
Identifier_s         object
Abbreviation2        object
Firstname_s          object
Lastname_s           object
index                object
﻿Week                 int64
Year                  int64
GID                   int64
Name                 object
Pos                  object
h/a                  object
Oppt                 object
DK points           float64
DK salary           float64
Place                object
Team                 object
Identifier           object
Abbreviation1        object
Firstname            object
Lastname             object
dtype: object

## Draw random teams

In [154]:
df.Position.unique()

array(['WR', 'QB', 'RB', 'TE', 'DST'], dtype=object)

Conditions: 1xQB, 2xRB, 3xWR, 1xTE, 1xFLEX, 1xDST, TotalSalary 50k

In [156]:
def sample_team(df=None, seed=0):
    
    team = pd.DataFrame(columns=['GID', 'DK points', 'Salary'])
    team = team.append(df.loc[df.Position == 'QB', ['GID', 'DK points', 'Salary']].sample(n=1, replace=False, random_state=seed), ignore_index=True)
    team = team.append(df.loc[df.Position == 'RB', ['GID', 'DK points', 'Salary']].sample(n=2, replace=False, random_state=seed), ignore_index=True)
    team = team.append(df.loc[df.Position == 'WR', ['GID', 'DK points', 'Salary']].sample(n=3, replace=False, random_state=seed), ignore_index=True)
    team = team.append(df.loc[df.Position == 'TE', ['GID', 'DK points', 'Salary']].sample(n=1, replace=False, random_state=seed), ignore_index=True)
    team = team.append(df.loc[df.Position.isin(['WR', 'TE', 'RB']) & ~df.GID.isin(team), ['GID', 'DK points', 'Salary']].sample(n=1, replace=False, random_state=seed), ignore_index=True)
    team = team.append(df.loc[df.Position == 'DST', ['GID', 'DK points', 'Salary']].sample(n=1, replace=False, random_state=seed), ignore_index=True)
    
    return team

In [159]:
def get_salary(team=None):
    return np.sum(team['Salary'])

In [160]:
def get_performance(team=None):
    return np.sum(team['DK points'])

In [157]:
team = sample_team(df=df, seed=1)

In [158]:
team

      GID  DK points  Salary
0  1232.0       13.0  6200.0
1  2888.0       21.8  8800.0
2  5470.0        1.8  3000.0
3  3670.0       13.9  4100.0
4  5578.0        0.0  3000.0
5  5458.0        9.3  3000.0
6  4552.0        3.1  4100.0
7  4708.0        1.6  2500.0
8  7028.0       -1.0  3500.0

In [161]:
get_salary(team)

38200.0

In [162]:
get_performance(team)

63.5

In [163]:
bestlist = []

for i in range(1000000):
    team = sample_team(df=df, seed=i)
    if get_salary(team) < 50000.0:
        perf = get_performance(team)
        bestlist.append([perf, i])

In [164]:
np.shape(bestlist)

(999104, 2)

In [165]:
bestlist.sort(reverse=True)

In [166]:
bestlist[0][1]

450147

In [180]:
bestteam = sample_team(df=df, seed=bestlist[0][1])

In [181]:
bestteam

      GID  DK points  Salary
0  1518.0      25.14  4700.0
1  5447.0      35.40  4900.0
2  2915.0      33.80  4500.0
3  5159.0      12.80  4500.0
4  5252.0      31.60  5500.0
5  5255.0      35.10  7300.0
6  4538.0      13.20  2500.0
7  5252.0      31.60  5500.0
8  7024.0       6.00  3400.0

In [182]:
get_salary(bestteam)

42800.0

In [183]:
get_performance(bestteam)

224.64

In [185]:
df.loc[df.GID.isin(bestteam.GID.values), ['GID', 'Team', 'Name', 'Position', 'Salary', 'DK points']]

       GID       Team              Name Position  Salary  DK points
266   5159   Falcons      Sanu, Mohamed       WR    4500      12.80
1033  5447     Bears     Howard, Jordan       RB    4900      35.40
2544  4538   Packers   Kendricks, Lance       TE    2500      13.20
2569  1518    Texans    Watson, Deshaun       QB    4700      25.14
3502  5252      Rams     Watkins, Sammy       WR    5500      31.60
4072  5255  Patriots     Cooks, Brandin       WR    7300      35.10
6331  2915  Redskins    Thompson, Chris       RB    4500      33.80
26    7024  Steelers         Pittsburgh      DST    3400       6.00